<link href="~/css/site.css" rel="stylesheet" />
<body class="bodyHome">
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao LABMelo</h1>
    </div>
</body>

