@model ProjetoFinalMelina.Models.Estado

@{
    ViewData["Title"] = "Create";
}

<h1 class="pags">Adicionar novo estado</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EstadoNome" class="control-label"></label>
                <input asp-for="EstadoNome" class="form-control" />
                <span asp-validation-for="EstadoNome" class="text-danger"></span>
            </div>
            <div class="button-criar">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="a-edit">Voltar para a lista de estados</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
